@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.safeLogo {
   @apply bg-solgray-lightest dark:bg-solgray-lightest;
}
.solBoxBlue {
  @apply bg-gradient-to-r from-solblue-darker2 to-solblue-darker2 text-white shadow-solbluelight rounded-lg dark:from-solblue-darkest3 dark:via-solblue-darkest3 dark:to-solblue-darkest2 dark:shadow-safera rounded-lg;
}

.solBoxGray {
  @apply bg-solgray-light text-solblue-dark shadow-solbluelight rounded-lg dark:bg-solblue-darkest2 dark:text-white dark:shadow-safera;
}

.solBtnGray {
 /*@apply bg-gradient-to-t from-solgray-dark to-solgray-light text-solblue-darker uppercase py-1 px-4 text-sm rounded-full dark:from-solblue-darker dark:to-solblue-dark dark:text-white dark:shadow-solgray;*/
 @apply bg-gradient-to-t from-solgray-lightest to-solgray-light text-solblue-darker uppercase py-1 px-4 text-sm rounded-full  dark:from-solgray-lightest dark:to-solgray-lightest dark:text-solblue-darkest ;
}
.solBtnGray:hover {
  @apply bg-gradient-to-t from-solacid to-solacid text-white uppercase py-1 px-4 text-sm rounded-full dark:from-solacid dark:to-solacid dark:text-white dark:shadow-solgray shadow-solbluelight dark:shadow-solbluelight2;
}
.safeBtnInverted {
  /*@apply bg-gradient-to-t from-solgray-dark to-solgray-light text-solblue-darker uppercase py-1 px-4 text-sm rounded-full dark:from-solblue-darker dark:to-solblue-dark dark:text-white dark:shadow-solgray;*/
  @apply bg-gradient-to-t from-solblue-darker2 to-solblue-darker2 text-white uppercase py-1 px-4 text-sm rounded-full  dark:from-solgray-lightest dark:to-solgray-light dark:text-solblue-darkest ;
 }
 .safeBtnInverted:hover {
   @apply bg-gradient-to-t from-solacid to-solacid text-white uppercase py-1 px-4 text-sm rounded-full dark:from-solacid dark:to-solacid dark:text-white shadow-safegreen dark:shadow-solbluelight2;
 }
.solBtnAcid {
  @apply bg-gradient-to-t from-solacid-dark to-solacid text-solblue-darker uppercase py-1 px-4 text-sm rounded-full shadow-solacidlight;
}
.solBtnAcid:hover {
  @apply bg-gradient-to-t from-solacid to-solacid-light shadow-solaciddark ;
}

.solBtnRewards {
  @apply bg-gradient-to-b from-solgray to-solgray-light text-solblue-darker uppercase py-1 px-4 text-sm rounded-b-lg dark:from-solblue-darkest dark:to-solblue-darkest2 dark:text-gray-200;
}
.solBtnRewards:hover {
  @apply bg-gradient-to-t text-solacid from-solgray-light to-solgray shadow-solbluelight dark:from-solblue-darkest2 dark:to-solblue-darkest2 dark:text-safealternate-accentblue;
}

html {
  height: 100%;
  background-color: #E9F4FF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ebf3ff'/%3E%3Cstop offset='1' stop-color='%23ebf3ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e6ecff'/%3E%3Cstop offset='1' stop-color='%23e6ecff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e9ebff'/%3E%3Cstop offset='1' stop-color='%23e9ebff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23E9F4FF'/%3E%3Cstop offset='1' stop-color='%23E9F4FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EEF2FF'/%3E%3Cstop offset='1' stop-color='%23EEF2FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23E5E4FF'/%3E%3Cstop offset='1' stop-color='%23E5E4FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For pie chart */

:root {
  --size: 150px;
  --bord: 25px;
}

.chart {
  width: var(--size);
  height: var(--size);
  margin: 0em auto;
  border-radius: 50%;
  /* background-image: conic-gradient(#D5E300 var(--value), #103147 var(--value)); */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--bord));
  height: calc(100% - var(--bord));
  background: #F1F1F1;
  border-radius: inherit;
}
.chartdark {
  width: var(--size);
  height: var(--size);
  margin: 0em auto;
  border-radius: 50%;
  /* background-image: conic-gradient(#D5E300 var(--value), #103147 var(--value)); */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartdark::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--bord));
  height: calc(100% - var(--bord));
  background: #01131a;
  border-radius: inherit;
}
p {
  position: relative;
  z-index: 1;
  font-size: 1em;
}
